<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding ion-text-center">
  
  
  <div class="wrapped">
    <div class="title">
      <ion-text color="utcj">
        <h1 class="ion-text-bold">UT <span style="color: black;">Park</span></h1>
      </ion-text>

      <div class="separator">
        <div class="line"></div>
        <h2><ion-icon name="car"></ion-icon></h2>
      </div>
    </div>

    <div class="info">
      <h3>Mapa del estacionamiento</h3>
    </div>

    <div class="form">
      <ion-item>
        <ion-label position="floating">Matrícula</ion-label>
        <ion-input [(ngModel)]="matricula" type="text"></ion-input>
      </ion-item>
      <ion-button expand="full" (click)="buscarAlumno()">Buscar Alumno</ion-button>

      <div *ngIf="alumno">

        <ion-card>
          <ion-card-header>
            <div class="student-header">
              <img class="student-photo" src="https://images.gamebanana.com/img/ss/mods/61d87792d5c22.jpg" alt="Foto del Alumno">
              <div class="student-details">
                <ion-card-title>Nombre: {{ alumno.Nombre }}</ion-card-title>
                <ion-card-subtitle>Matricula: {{ alumno.Matricula }}</ion-card-subtitle>
              </div>
            </div>
          </ion-card-header>
          
          <ion-card-content>
            <p><strong>Grado:</strong>{{ alumno.Grado }}</p>
            <p><strong>Carrera:</strong>{{ alumno.Carrera }}</p>
          </ion-card-content>
        </ion-card>
        
        

      </div>
    </div>

    <div class="map">
      <img id="capturedImage" src="http://192.168.43.210/capture" alt="Imagen de la camara">
    </div>
  </div>
</ion-content>
