<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>Main</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding ion-text-center">


  <div class="wrapped">

    <div class="title">
      <ion-text color="utcj">
        <h1 class="ion-text-bold">UT <span style="color: black;">Park</span></h1>
      </ion-text>
      <h2>---------------------- <ion-icon name="car"></ion-icon></h2>
    </div>
  
    
      <div class="info">

        <form>
          <ion-list>
            <ion-item>
              <ion-input label="Correo electrónico" label-placement="floating" placeholder="Ingrese su correo">
                <ion-icon slot="end" fill="clear" color="medium" name="mail"></ion-icon>
              </ion-input>
            </ion-item>
          </ion-list>
        </form>
        
      </div>

      <div class="map">
        <img src="../../assets/images/map.jfif" alt="Mapa de ejemplo">
      </div>
    

  </div>


  
</ion-content>
